<footer class="footer-main" id="contact">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-lg-6">
                <div class="wrapper-footer">
                    <div class="text-center main-footer">
                        <h2>Get in touch</h2>
                        <p class="main-p-footer">
                            What’s next? Feel free to reach out to me if you're
                            looking for a developer, have a query, or simply
                            want to connect.
                        </p>
                    </div>
                    <div
                        class="contact-us d-flex justify-content-center align-items-center flex-column"
                    >
                        <div class="email">
                            <span class="icon"
                                ><i class="fa-solid fa-envelope"></i
                            ></span>
                            <span class="name-email"
                                >reachsagarshah@gmail.com</span
                            >
                            <img
                                src="assets/images/Icon Button-2.svg"
                                alt=""
                            />
                        </div>
                        <div class="main-phone">
                            <span class="phone"
                                ><i class="fa-solid fa-phone"></i
                            ></span>
                            <span class="number-phone">+91 8980500565</span>
                            <img
                                src="assets/images/Icon Button-2.svg"
                                alt=""
                            />
                        </div>
                    </div>
                    <div class="find-me text-center">
                        <span class="platforms">You may also find me on these platforms!</span>
                        <div class="find-me-link">
                            <a href="#"> <i class="fa-brands fa-github"></i> </a>
                            <a href="#">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                            <a href="#"> <i class="fa-brands fa-figma"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="caption">
    <div class="container">
        <div class="caption-main">
            <img src="assets/images/Icon.svg" alt="">
            <span class="designed">2023 | <span class="text-decoration-underline">Designed</span> and <span class="text-decoration-underline">coded</span> with ❤️️ by Mohamed Kh</span>
        </div>
    </div>
</div>
